{% extends 'blog/base.html' %}

{% block title %}{% endblock title %}



{% block body %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Hello!</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="container mt-4">
<form action="/upload-post/" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="Enter the post title">
      </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Excerpt</label>
        <input type="text" class="form-control" name="excerpt" id="exampleFormControlInput1" placeholder="Enter the excerpt">
      </div>
      
      <div class="form-group mt-4">
        <label for="exampleFormControlTextarea1">Enter The Full Post</label>
        <textarea class="form-control" placeholder="Enter the content" name="desc" rows="3"></textarea>
      </div>
      <input type="submit" value="submit" class="btn btn-primary mt-4"> 
    </form>
</form>
</div>
{% endblock body %}

